nav {
  z-index: 1;
  display: flex;
  height: 3.35em;
  width: 100vw;
  background-color: hsla(226, 43%, 44%, 1);
  color: hsla(37.5, 26.7%, 94.1%, 1);
  padding: 1.5em;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Bungee";
  font-size: 1.5em;
  position: fixed;
  top: 0;
}

.navDesc {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

.fa-angle-double-down {
  margin-top: 0.1em;
  color: hsla(0, 100%, 50%, 1);
}

.fa-angle-double-down:hover {
  animation: bounce 3s infinite ease-in-out;
}

@media only screen and (max-width: 1024px) {
  nav {
    background-color: hsla(15, 43%, 44%, 1);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    transition: background-color 0.5s linear;
  }
}
