article {
  display: flex;
  flex-direction: column;
  border: 0.15em solid hsla(44, 7%, 31%, 1);
  margin-top: 1em;
  width: inherit;
  padding: 0.5em;
  word-break: break-word;
}

article:hover {
  box-shadow: 0.2em 0.2em hsla(227, 58%, 65%, 0.507);
}

article header {
  display: flex;
  justify-content: space-between;
}


.handle {
  color: hsla(236, 60%, 64%, 1);
  font-weight: bold;
}

article footer {
  display: flex;
  justify-content: space-between;
  border-top: inherit;
  padding: 0.5em;
  font-size: 0.6em;
}

.tweet-icons {
  color: hsla(226, 43%, 44%, 1);
}

.tweet-icons i:hover {
  color: hsla(51, 100%, 50%, 1);
}

.profile-image {
  max-width: 64px;
  max-height: 64px;
}