nav {
  z-index: 1;
  display: flex;
  height: 120px;
  width: 100%;
  width: 100vw;
  background-color: hsla(226, 43%, 44%, 1);
  color: hsla(37.5, 26.7%, 94.1%, 1);
  padding: 1.5em;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Bungee";
  font-size: 40px;
  position: fixed;
  top: 0;
}

.navDesc {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.fa-angle-double-down {
  color: hsla(0, 100%, 50%, 1);
}