nav {
  z-index: 1;
  display: flex;
  height: 120px;
  width: 100%;
  width: 100vw;
  background-color: #4056A1;
  color: #FFF;
  padding: 1.5em;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Bungee";
  font-size: 40px;
}

.navDesc {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.fas {
  color: red;
}