.new-tweet {
  display: flex;
  flex-direction: column;
  width: inherit;
  font-weight: 600;
}

.new-tweet form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-tweet form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}


.error {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 1) !important;
  color: hsla(0, 100%, 50%, 1) !important;
  padding: 0.3em !important;
  border-radius: 0 !important;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1em 0.1em 0.1em hsla(0, 0%, 67%, 1);
  margin-top: 0.1em;
}

textarea {
  background-color: transparent;
  border: 0em;
  border-bottom: 0.1em solid hsla(0, 0%, 0%, 1);
  resize: none;
  font-weight: 600;
  font-size: 0.9em;
}

textarea:focus {
  outline: none;
}

label {
  position: absolute;
}

textarea:valid + label {
  opacity: 0;
}

button {
  background-color: hsla(226, 43%, 44%, 1);
  font-family: "Bungee";
  color: hsla(37.5, 26.7%, 94.1%, 1);
}

.counter {
  font-family: "Bungee";
}

