.new-tweet {
  display: flex;
  flex-direction: column;
  width: inherit;
  font-weight: 600;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

textarea {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid black;
  resize: none;
  font-weight: 600;
  font-size: 20px;
}

textarea:focus {
  outline: none;
}


button {
  background-color: #4056A1;
  font-family: "Bungee";
  color: white;
}

